nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: slategray;
  height: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
}