body {
  background-color: #333;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  background-color: #222;
  border: 1px solid #ddd;
}

.nav-link {
  color: #ddd;
  text-decoration: none;
  padding: 15px;
  float: left;
  display: block;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #444;
}

main {
  color: #ddd;
  margin-top: 50px;
}

#face-photo {
  height: 200px;
  border-radius: 10px;
  float: right;
}