body {
  background-color: #333;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  background-color: #222;
}

.nav-link {
  color: #ddd;
  text-decoration: none;
  padding: 15px;
  float: left;
  display: block;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #444;
}

main {
  color: #ddd;
  margin-top: 50px;
}

#face-photo {
  height: 200px;
  border-radius: 10px;
  float: left;
  margin-right: 35px;
  margin-bottom: 35px;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  background-color: #444;
}

#intro {
  width: 70%;
  padding-top: 20px;
  padding-left: 50px;
}

#welcome-message {
  text-align: center;
}