body {
  background-color: #282828;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  background-color: #222;
}

.nav-link {
  color: #ddd;
  text-decoration: none;
  padding: 15px;
  float: left;
  display: block;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #444;
}

main {
  color: #bbb;
  margin-top: 50px;
}

#face-photo {
  height: 200px;
  border-radius: 10px;
  float: left;
  margin-right: 35px;
  margin-bottom: 35px;
}

a {
  color: #fff;
  text-decoration: none;

}

a:hover {
  background-color: #555;
}

#intro {
  width: 70%;
  padding-top: 20px;
  padding-left: 50px;
  text-align: justify;
}

#welcome-message {
  padding-top: 50px;
  text-align: center;
}

.centered-heading {
  text-align: center;
}

h1.centered-heading {
  text-decoration: underline;
}

.small-photo {
  height: 150px;
}

.photo-right {
  float: right;
  margin: 30px;
}

.text-left {
  width: 70%;
  padding-top: 20px;
  padding-left: 50px;
  text-align: justify;
}

@media only screen and (max-width: 450px) {
  .text-left {
    padding-left: 5px;
    width: auto;
  }

  .photo-right {
    display: none;
  }
}